name: CI/CD yukbelanja

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag christianwiyotodocker2026/yukbelanja:1.0

      - name: Push the Docker image
        run: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker push christianwiyotodocker2026/yukbelanja:1.0

      - name: Deploy to remote server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd yukbelanjacw
            docker stop yukbelanja1 || true
            docker rm yukbelanja1 || true
            docker pull christianwiyotodocker2026/yukbelanja:1.0
            docker run -dp 8081:8080 --name yukbelanja1 -e SPRING_DATASOURCE_URL="jdbc:postgresql://172.17.0.2:5432/yukbelanja1db" -e SPRING_DATASOURCE_USERNAME="postgres" -e SPRING_DATASOURCE_PASSWORD="p4ssw0rd" -v $(pwd)/uploads:/app/uploads christianwiyotodocker2026/yukbelanja:1.0
